@page
@model ChipmunkEventListing.Pages.Events.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h3 style="color:red">Are you sure you want to delete this event?</h3>


<form method="post" class="container-fluid">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Event.EventID" />
    <div class="row">
        <div class="col-md-2">
            <h3>Start Date</h3>
            @Html.DisplayFor(model => model.Event.StartDate)
        </div>
        <div class="col-md-10">
            <h3>Event Title</h3>
            @Html.DisplayFor(model => model.Event.EventTitle)
        </div>
    </div>
       <hr style="background-color:white" />
    <div class="row">
        <div class="col-md-6">
            <h3>EVENT IMAGE HERE</h3>
            @Html.DisplayFor(model => model.Event.ImageLocation)
        </div>
        <div class="col-md-6">
            <h3>Event Description</h3>
            @Html.DisplayFor(model => model.Event.EventDescription)
        </div>
    </div>
       <hr style="background-color:white" />
    <div class="row">
        <div class="col-md-6">
            <h3>Line Up</h3>
            @Html.DisplayFor(model => model.Event.Band)
        </div>
        <div class="col-md-6">
            <h3>Venue Information</h3>
            @Html.DisplayFor(model => model.Event.Venue)
        </div>
    </div>
               <hr style="background-color:white" />
    <div class="form-group">
        <input type="submit" value="Delete" class="btn btn-danger" />
    </div>


</form>


<div>
    <a asp-page="./Index">Back to List</a>
</div>
