@page
@model ChipmunkEventListing.Pages.Events.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].EventTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].EventDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].ImageLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].VenueId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Event) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VenueId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.EventId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.EventId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.EventId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
