@page
@model ChipmunkEventListing.Pages.Events.Index_cardModel
@{
    ViewData["Title"] = "Index_card";

}

<div class="container-fluid" style="padding-top:20px; padding-bottom:20px">
    <div class="row">
        <div class="col-md-6">
            <form asp-page="./Index_card" method="get">
                <div class="form-actions no-color">
                    Find by Event Title:
                    <input type="text" name="SearchString" value="@Model.CurrentFilter" />
                    <input type="submit" value="Search" class="btn btn-primary" />
                    <a asp-page="./Index_card">Back to full List</a>
                </div>
            </form>
        </div>
        
    
    <div class="col-md-6">
         <div class="float-right">
             @{
                 var prevDisabled = !Model.Events.HasPreviousPage ? "disabled" : "";
                 var nextDisabled = !Model.Events.HasNextPage ? "disabled" : "";
              }
              <a asp-page="./Index_card"
                 asp-route-sortOrder="@Model.CurrentSort"
                 asp-route-pageIndex="@(Model.Events.PageIndex - 1)"
                 asp-route-currentFilter="@Model.CurrentFilter"
                 class="btn btn-primary @prevDisabled">
                  Previous
                
              </a>
              <a asp-page="./Index_card"
                 asp-route-sortOrder="@Model.CurrentSort"
                 asp-route-pageIndex="@(Model.Events.PageIndex + 1)"
                 asp-route-currentFilter="@Model.CurrentFilter"
                 class="btn btn-primary @nextDisabled">
                  Next
              </a>
            </div>
        </div>
        </div>
    </div>

        <div class="row">
            @foreach (var item in Model.Events)
            {
           
                <div class="col 4">
                    <div class="card h-100">
                        <div class="card">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">

                                @Html.DisplayFor(modelItem => item.EventTitle)
                                @Html.DisplayFor(modelItem => item.ImageLocation)
                                @Html.DisplayFor(modelItem => item.EventDescription)
                                <h4 class="card-title">@item.EventTitle</h4>
                                <h3 class="start-time">@item.StartDate</h3>
                                <h5 class="card-desciprtion"> @item.EventDescription</h5>
                                <a asp-page="./Edit" asp-route-id="@item.EventID">Edit</a>
                                <a asp-page="./Details" asp-route-id="@item.EventID">Details</a>
                                <a asp-page="./Delete" asp-route-id="@item.EventID">Delete</a>
                            </div>
                        </div>
                    </div>
                    
                </div>
                
            }
        </div>
       
